.header{
    padding-left: 1rem;
    padding-bottom: 2rem;
    
    &__h1{
        max-width: 80%;
        margin: 0 auto;
        font-size: 1.3rem;
        line-height: 50px;
    
    }

    &__img{
        border-radius: 200px 200px 200px 200px;
        height: 40px;
        width: 140px;
        
    }

    &__text{
        max-width: 85%;
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;
    }
    
}