@mixin theme-background($elem: null){
    @if($elem == true){
        background-color: $orange-background;
    } @else if($elem == false){
        background-color: $most-dark-background;
    } else{
        background-color: white;
    }
}

@mixin style-font{
    font-family: $font-style;
    font-size: 1rem;
    color: $font-color;
    letter-spacing: 2.3px;
}

@mixin style-font-bigger-screen($font-size) {
    font-size: $font-size;
    
}

@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
}

@mixin img-settings{
    width: 100%;
    height: auto;
}